next-world-api.sln
obj/Debug/net8.0/next-world-api.GlobalUsings.g.cs
obj/Debug/net8.0/next-world-api.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/next-world-api.assets.cache
obj/Debug/net8.0/next-world-api.AssemblyInfoInputs.cache
obj/Debug/net8.0/next-world-api.AssemblyInfo.cs
